.container {
    display: inline-flex;
    align-items: center;
    transition: 100ms ease;
    text-align: left;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 20px;
    color: var(--theme-ui-colors-text);
    transition: 200ms ease;
}

.container:hover {
    background-color: rgba(114, 114, 114, 0.3);
}

.episodeThumbnail {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    border-radius: 20px;
}

.name {
    margin-bottom: 0;
}

.date {
    margin-top: 0;
}

@media screen and (max-width: 1025px) {
    .container {
        color: #fff;
    }  
    
    .container:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
}
