.container {
    display: flex;
    align-items: center;
}

.instance {
    border-radius: 8px;
}

.episodeThumbnail {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    border-radius: 20px;
}
.name {
    margin-bottom: 0;
}

.date {
    margin-top: 0;
}
