@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800;900&display=swap');
html, body {
  transition: all 0.25s;
  background-color: var(--theme-ui-colors-sunken);
  height: 100%;
}

h2 {
  font-size: 2rem;
}

/* links */

a {
  color: #ff3f58;
  text-decoration: underline;
  text-underline-position: below;
}

a:hover { 
  text-decoration-style: wavy;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--theme-ui-colors-primary);
}

::-webkit-scrollbar-corner {
  background-color: var(--theme-ui-colors-primary);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}