.container {
    padding: 2rem 5rem 2rem 5rem;
}

.title {
    font-size: 400%;
    background: linear-gradient(45deg, #ec3750, #ff8c37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem 0rem 1rem 0rem;
    font-weight: 900;
}

.desc {
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 1025px) { 

    .container {
        padding: 1rem;
    }

    .title {
        font-size: 350%;
    }

    .subtitle {
        font-size: 125%;
    }
}