.container {
    padding: 2rem 5rem 2rem 5rem;
    margin: 0;
    background: linear-gradient(116.34deg, var(--theme-ui-colors-sunken) 62%, var(--theme-ui-colors-primary) 0%);
}

.landing {
    display: grid;
    grid-template-areas: "left right";
}

.cover {
    width: 450px;
    height: 450px;
    border: 4px solid var(--theme-ui-colors-slate);
    border-radius: 10px;
}

.left {
    width: 50%;
}

.right {
    text-align: center;
}

.title {
    font-size: 400%;
    background: linear-gradient(45deg, #ff3f58, #ff8c37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem 0rem 1rem 0rem;
    font-weight: 900;
    line-height: 2ex;
}

.desc {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.channel {
    color: blue;
}

.about {
    margin-top: 1rem;
}

.buttonDiv {
    display: grid;
    grid-gap: 15px;
    margin-top: 3rem;
    grid-template-areas: "b1 b2" "b3 b4";
}

.btn {
    text-align: center;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #ff7300 5%, #f08335 70%);
    outline: 0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.17), 0 17px 50px 0 rgba(0, 0, 0, 0.11);
    transition: 200ms ease;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    color: #ffffff;
    font-size: 1.6rem;
}

.btn a {
    text-decoration: none;
}

.btn a:link {
    color: #ffffff;
}

.btn a:visited {
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);
}

@media screen and (max-width: 1025px) {
    .container {
        background: linear-gradient(var(--theme-ui-colors-sunken) 55%, var(--theme-ui-colors-primary) 0%);
    }
    .cover {
        height: auto;
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .container {
        padding: 1rem;
        height: 100%;
    }
    .landing {
        grid-template-areas: "left" "right";
    }
    .title {
        font-size: 350%;
    }
    .subtitle {
        font-size: 125%;
    }
    .btn {
        font-size: 1.2rem;
    }
    .bottom {
        color: #fff;
    }
}