.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.title {
  font-size: 400%;
  margin: 3rem 0rem 1rem 0rem;
  font-weight: 900;
  line-height: 2ex;
}

.titleHighlight {
  color: #ff3f58;
}

.subtitle {
  font-size: 200%;
  font-weight: 500;
}

.noteCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.titleDiv {
  background-color: var(--theme-ui-colors-green);
  margin: 0;
  width: 100%;
  padding: 1.25rem;
  border-radius: 20px 20px 0 0;
}

.subDiv {
  background-color: #ff3f58;
  width: 100%;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0 0 20px 20px;
}

.cardSub {
  margin: 0;
}

.cardDiv {
  display: grid;
  grid-template-areas: 'c1 c2 c3';
}

@media screen and (max-width: 1025px) {
  .title {
    font-size: 350%;
  }
  .subtitle {
    font-size: 125%;
  }
  .container {
    padding: 0 1rem;
  }
}
