.container {
    padding: 3rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: var(--theme-ui-colors-primary);
    color: #fff;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.sponsorDiv {
    margin: 3rem;
}

.sponsorLogo {
    width: 500px;
}

@media screen and (max-width: 1025px) { 
    .sponsorDiv {
        margin: 2rem;
    }
    
    .sponsorLogo {
        width: 200px;
    }
}