.container {
    margin-top: 3rem;
}

.subtitle {
    margin-bottom: 2rem;
}

.teamList {
    list-style: none;
    width: 50%;
    display: grid;
    grid-template-areas: 
        "p1 p2 p3 p4 p5";
    padding: 0;
}

.teamList:first-child {
    margin-left: 0;
}

@media screen and (max-width: 1025px) {
    .teamList {
        justify-content: center;
    }
}

.teamMember {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
        "name"
        "pfp"
        "desc";
    text-align: center;
    transition: 200ms ease;
}

.teamMember:hover {
    background-color: rgba(114, 114, 114, 0.3);
}

.teamMember a {
    text-decoration: var(--theme-ui-text);
    color: unset;
}

.teamPFP {
    width: 75px;
    height: 75pt;
    border-radius: 20px;
    transition: 200ms ease;
}

.teamName {
    margin-bottom: 0;
}

.teamDesc {
    margin: 0;
    font-weight: 400;
}

@media screen and (max-width: 1025px) {
    .teamList {
        display: grid;
        grid-template-areas: 
            "p1 p2";
    }

    .teamDesc {
        margin-bottom: 50%;
    }
}