.container {
    margin-top: 3rem;
}

.subtitle {
    margin-bottom: 2rem;
}

.teamList {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.teamMember {
    display: grid;
    grid-template-areas: 
        "name"
        "pfp"
        "desc";
    text-align: center;
    margin: 0 2rem 0 2rem;
}

.teamPFP {
    width: 75pt;
    height: 75pt;
    border-radius: 20px;
}